.vs/*
.git/*

PlantiaApp/PlantiaApp/bin
PlantiaApp/PlantiaApp.Shared/bin
PlantiaApp/PlantiaApp.Web/bin
PlantiaApp/PlantiaApp.Web.Client/bin
PlantiaApp.Api/bin
PlantiaApp.TestBlazor/bin
PlantiaApp.Tests/bin

PlantiaApp/PlantiaApp/obj
PlantiaApp/PlantiaApp.Shared/obj
PlantiaApp/PlantiaApp.Web/obj
PlantiaApp/PlantiaApp.Web.Client/obj
PlantiaApp.Api/obj
PlantiaApp.TestBlazor/obj
PlantiaApp.Tests/obj
*.user