.Username {}
    .Username .Valid {
        border : 1px solid green;
    }
    .Username .Invalid {
        border: 1px solid red;
    }

.Password {}
    .Password .Valid {
        border: 1px solid green;
    }
    .Password .Invalid {
        border: 1px solid red;
    }

.RepeatPassword {}
    .RepeatPassword .Valid {
        border: 1px solid green;
    }
    .RepeatPassword .InValid {
        border: 1px solid red;
    }

