@page "/enderecos/create"
@using Microsoft.EntityFrameworkCore
@using PlantiaApp.Site.Data
@inject IDbContextFactory<PlantiaApp.Site.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Endereco</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Endereco" OnValidSubmit="AddEndereco" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="logradouro" class="form-label">Logradouro:</label> 
                <InputText id="logradouro" @bind-Value="Endereco.Logradouro" class="form-control" /> 
                <ValidationMessage For="() => Endereco.Logradouro" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="numero" class="form-label">Numero:</label> 
                <InputText id="numero" @bind-Value="Endereco.Numero" class="form-control" /> 
                <ValidationMessage For="() => Endereco.Numero" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="complemento" class="form-label">Complemento:</label> 
                <InputText id="complemento" @bind-Value="Endereco.Complemento" class="form-control" /> 
                <ValidationMessage For="() => Endereco.Complemento" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="cep" class="form-label">Cep:</label> 
                <InputText id="cep" @bind-Value="Endereco.Cep" class="form-control" /> 
                <ValidationMessage For="() => Endereco.Cep" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="latitude" class="form-label">Latitude:</label> 
                <InputText id="latitude" @bind-Value="Endereco.Latitude" class="form-control" /> 
                <ValidationMessage For="() => Endereco.Latitude" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="longitude" class="form-label">Longitude:</label> 
                <InputText id="longitude" @bind-Value="Endereco.Longitude" class="form-control" /> 
                <ValidationMessage For="() => Endereco.Longitude" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/enderecos">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Endereco Endereco { get; set; } = default!;

    protected override void OnInitialized() => Endereco ??= new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddEndereco()
    {
        using var context = DbFactory.CreateDbContext();
        context.Endereco.Add(Endereco);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/enderecos");
    }
}
