@page "/rescue-account"

@using PlantiaApp.Shared.Components.Authorization.Forms

@using PlantiaApp.Shared.Services

<PageTitle>Rescue your Account</PageTitle>

<h1>Esqueceu a Senha?</h1>
<p>Nos informe seu e-mail e enviaremos orientações para recuperação da sua conta.</p>

<RescueAccountForm />

<!---->


@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

}
