@inherits TestContext

@using PlantiaApp.Shared.Components.Authorization.Forms

<h3>SignUpFormTest</h3>

@code {

    [Fact]
    public void TestSignUpFormRendersCorrectly()
    {
        // Act
        var cut = Render(@<SignUpForm />);

        // Assert
        cut.MarkupMatches(@<h3>SignUp</h3>);

        cut.Find("form");
        cut.Find("form").Submit();
    }

    [Fact]
    public void TestSignUpSubmitRendersCorrectly()
    {
        // Act
        var cut = Render(@<SignUpForm />);
        
        cut.Find("input[name=Username]");
        cut.Find("input[name=Password]");
        cut.Find("input[name=RepeatPassword]");
        cut.Find("form").Submit();
    }

}
